@import './reset.css';
@import './info.css';
@import './paint.css';
@import './gallery.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600&display=swap');
@import url('../src/font/Paysage-Black.woff');
@import url('../src/font/Paysage-Bold.woff');
@import url('../src/font/Paysage-Medium.woff');
@import url('../src/font/Paysage-Regular.woff');
@import url('../src/font/Messapia-Bold.woff');
@import url('../src/font/Messapia-Regular.woff');

/* *{
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Josefin Sans', sans-serif;	
	font-family: 'Paysage-Black','Paysage-Bold','Paysage-Medium','Paysage-Regular';
	font-family: 'Messapia-Regular','Messapia-Bold';
	background: linear-gradient(180deg, #cacaca 0%,#f5f5f5 22%,#c7c7c7 51%,#d8d8d8 81%,#bbbbbb 100%);
} */

:root {
  --grad: linear-gradient(
    155deg,
    var(--amethystSmoke) 0%,
    #cedae648 57%,
    #c5b08950 100%
  );
  --textShadow: 34px -20px 8px rgba(116, 116, 116, 0.5);
  --shadow: #00000086 5%, #00000069 15%, #5252527e 30%, #ffffff00 70%;
  --white: #fdf4f2;
  --roseFog: #dfb9b3;
  --brandyRose: #b48688;
  --spicyPink: #816d70;
  --amethystSmoke: #a290a2;
  --monsoon: #887d86;
  --martini: #aea19e;
  --tuatara: #3d3c3f;
}

@font-face {
  font-family: 'Authentic Sans';
  src: url('../src/font/AUTHENTICSans-130.otf') format('otf');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: url('../src/font/Pretendard-Regular.otf') format('off');
}

@font-face {
  font-family: ‘SUIT’, sans-serif;
  src: url('http://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');
}
* {
  font-family: ‘SUIT’, sans-serif;
}
body {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  width: 500%;
  height: 789px;
  /* background: var(--grad) no repeat; */
  font-size: 16px;
  overflow-y: hidden;
}

.wrapper {
  position: relative;
  /* display: flex; */
  /* border: 1px solid red; */
  width: 20%;
  height: 100%;
  margin: auto;
  /* overflow: hidden; */
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
h3 {
  font-size: 5em;
  font-family: 'Messapia-Regular';
  color: transparent;
  text-shadow: var(--textShadow);
  transform: translateX(-10%) skew(-25deg);
}
.circle__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.circle {
  display: flex;
  justify-content: center;
  width: 40em;
  height: 25em;
  background: radial-gradient(ellipse at center, var(--shadow));
  transform: skew(-10deg);
  border-radius: 50%;
}

/************************************************/

/***********************/

a {
  color: #666666;
  text-decoration: none;
}
button {
  color: #666666;
  background-color: #f8f8f6;
  text-decoration: none;
}
.menu {
  display: flex;
}
.menu--section {
  /* font-family:'Gothic A1' */
}

/*********************************/
@media (max-width: 1799px) {
}

@media (max-width: 1599px) {
  /* .wrapper-lg {
        width: calc(100% - 1rem);
        margin: 0 0.5rem;
    } */
}

@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}
