@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,300&display=swap');
@import url('../src/font/Paysage-Black.woff');
@import url('../src/font/Paysage-Bold.woff');
@import url('../src/font/Paysage-Medium.woff');
@import url('../src/font/Paysage-Regular.woff');
@import url('../src/font/Messapia-Bold.woff');
@import url('../src/font/Messapia-Regular.woff');
@import url('../src/font/');
@import url('../src');
/* *{
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Josefin Sans', sans-serif;	
	font-family: 'Paysage-Black','Paysage-Bold','Paysage-Medium','Paysage-Regular';
	font-family: 'Messapia-Regular','Messapia-Bold';
} */

@font-face { 
	font-family: 'Authentic Sans';
	 src: url('../src/font/AUTHENTICSans-130.otf')format('otf')
	 
}
	

body {
	position:fixed;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 900px;
	font-family: 'Messapia-Regular';
	font-size: 16px;
	border: 1px solid red;
	
}
.wrapper{	
	display: flex;
	flex-direction: column;
	align-items:flex-end;
	justify-content: space-evenly;
	width: 1368px;
    margin: auto;
    position: relative;
	height: 100%;
}

h3{
	color:transparent;
	font-size: 5em;
	font-family: 'Messapia-Regular';
	text-shadow: 34px -20px 8px rgba(116, 116, 116, 0.5);
	transform: skew(-20deg);
	
}
.circle--wrapper{
	display: flex;
	justify-content: center;
	width: 100%;
}
.circle{	
	display: flex;
	justify-content: center;
	width: 40em;
    height: 25em;
    background: radial-gradient(ellipse at center,#00000086 5%, #00000069 15%,#5252527e 30%, #ffffff 70%);
	/* border: 0.3px solid #2c2c2c1a; */
    border-radius:50% ;
	transform: skew(-10deg);
	
	
}

/*********************/
.nav{
	margin-top: 5em;
	margin-left: 5em;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.nav--section{
	font-size: 20px;
	margin-bottom: 2em;
}
.nav--section:last-child{
	margin-left:0.15em;
}

/***********************/

a{
	color: #666666;
	text-decoration: none;
}
button {
	color: #666666;
	background-color: #F8F8F6;
	text-decoration: none;
}
.menu{
	display: flex;
	
}
.menu--section{
/* font-family:'Gothic A1' */
}
#def--imagineAnimal{
	position: relative;
    left: 8em;
	top:4.2em;
	transform: rotate(-22deg);
}

#def--sculpture{
	background-color: #FFADFC;
	width: 2em;
	height: 1em;
	padding: 0.3em 0 0 0;

	position: relative;
    left: 30em;
	top:2.3em;
	transform: rotate(13deg);
}
#def--relay{
	z-index: 99;
	/* background-color: #FFADFC; */
	/* width: 3em; */
	height: 1em;
	padding: 0.3em 0 0 0;

	position: relative;
    left: 35em;
	top:16em;


}
#def--relay a{
	
	display: flex;
	flex-direction: column;
}
#def--relay a i{
	transform: rotate(-15deg);
	top:-1em;
	left: 1em;
	position: absolute;
}

.guide--imagineAnimal{
	position: fixed;
	_position: absolute;
	top: 12em;
	left: 24em;
	width: 10em;
	height: 20em;
	z-index: 100;
	border: 1px solid #DA4D4D;
	background-color: #F8F8F6;
	/* border-radius: 10%; */
}
/************************/

 /*********************/
 .tag--writers{
	 
	 color: #0047FF;
	 font-family: 'Gothic A1'; 
	 display: flex;
	 flex-direction: row;
	 align-items:flex-start;
	 /* justify-content:space-around; */
	 position: relative;
	 /* position: absolute; */
	 left:60em;
	 top: 15em;
	}

 .vector--tags{
	 margin: 0;
}

.vector{
	width: 4em;
	height: 0.6em;
	margin: 0;
	padding: 0;
}

.text--tag{
	left: -1em;
	margin: 0;
	font-size: 0.9em;
	line-height: 1;
	/* width: 9em;  */
    }


 

/*********************************/
@media (max-width: 1799px) {
 
}

@media (max-width: 1599px) {
    /* .wrapper-lg {
        width: calc(100% - 1rem);
        margin: 0 0.5rem;
    } */
}

	@media (max-width: 1399px) {
	}
	
	@media (max-width: 1199px) {
	}
	
	@media (max-width: 991px) {
		
	
	}
	
	@media (max-width: 767px) {
	
	}
	
	@media (max-width: 575px) {
	
	}