.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: #666666;
}
.info__title {
  margin: 3em 0 2em 0;
  font-size: 1.8em;
}
.info__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.info__wrap .card {
  width: 23%;
  height: 30em;
  background-color: #e2e2e23a;
  color: #ff5e00;
  border-radius: 20px;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.4);
  transition: transform 1.2s;
}
i {
  transform: rotate(-20deg);
}
/**********************************************/
